*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}
.userContainer{
    width: 400px;
    /* height: 100vh; */
    /* border: 1px solid #000; */
}
.user{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
width: 400px;
/* height: 10px; */
/* margin:50px; */
padding: 30px;
margin: 10px auto;
border-radius: 5px;
}
.user p{
    /* text-align: center; */
    padding: 10px;
}
h3{
    padding-bottom: 20px;
    color: rgb(82, 146, 82);
}